{% extends 'base.html' %}

{% block title %}
    Восстановление пароля
{% endblock title %}

{% block content %}
    <h1 class="password-reset-heading">Восстановление пароля</h1>
    <p class="password-reset-para">Вы можете восстановить пароль, заполнив форму ниже</p>

    <div class="password-reset-form">
        <form method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Восстановить пароль"></p>
        </form>
    </div>
{% endblock content %}
