{% extends 'layout/basic.html' %}

{% block title %}

   Бибилиотека

{% endblock %}

{% block content %}

   <div class="wrapper">

       <a href="{{ url_for('index') }}">

           <button>На главную</button>

       </a>

       <div class="content" style="justify-content: center">

           <div class="books-wrapper">

               <div class="books">

                   <h2>Книги</h2>

                   {% for book in books %}

                       <div class="one-book">

                           <div>

                               <h3>Название: {{ book.title }}</h3>

                               <h4>Автор: {{ book.authors|join(', ') }}</h4>

                               <h4>Жанр: {{ book.genre }}</h4>

                           </div>

                           <div class="one-book-btns">

                               <a href="{{ url_for('edit_book', book_id = book.id ) }}">

                                   <button>✎</button>

                               </a>

                               <a href="{{ url_for('delete_book', book_id = book.id ) }}" style="margin-left: 10px;">

                                   <button>✖</button>

                               </a>

                           </div>

                       </div>

                   {% endfor %}

               </div>

           </div>

       </div>

   </div>

{% endblock %}