<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>{{ title }}</title>
  <!-- <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js'></script> -->
  <script src="{{ url_for('static', filename = 'js/chart.min.js') }}" type="text/javascript"></script>

</head>

<body>
  <center>
    <h1>{{ title }}</h1>

    <canvas id="chart" width="600" height="400"></canvas>
    <script>

      window.onload = setupRefresh;
    
      function setupRefresh () { // когда весь HTML загружен
          setTimeout("refreshTable();", 2000); // через две секунды
      };

      function getRandomColor() {
        var letters = '0123456789ABCDEF';
        var color = '#';
        for (var i = 0; i < 6; i++) {
          color += letters[Math.floor(Math.random() * 16)];
        }
        return color;
      };
      // bar chart data
      

      

      // get bar chart canvas

      var mychart = document.getElementById("chart").getContext("2d");

      steps = 10
      max = {{ max }};
      var barData = {
        labels : [
          {% for item in labels %}
            "{{ item }}",
          {% endfor %}
        ],

        datasets : [{
          label: '{{leg}}',
          fill: true,
          lineTension: 0.1,
          fillColor: "rgba(0,0,0,0)",
          strokeColor: getRandomColor(),
          pointColor: getRandomColor(),
          pointStrokeColor: "#fff",
          pointHighlightFill: "#fff",
          pointHighlightStroke: getRandomColor(),
          bezierCurve : false,
          data : [
      {% for item in values %}
              {{ item }},
            {% endfor %}],
          }
  ]
      };

      var LineChartDemo = new Chart(mychart
      
      ).Line(barData, {
        scaleOverride: true,
        scaleSteps: steps,
        scaleStepWidth: Math.ceil(max / steps),
        scaleStartValue: 0,
        scaleShowVerticalLines: true,
        scaleShowGridLines : true,
        barShowStroke : true,
        scaleShowLabels: true,
        bezierCurve: false,
        options: {
          title: {
            display: true,
            text: 'Positive Cases of COVID in provinces of Canada'
          },
          label: {
            display: true,
            position: 'top'
          },
          hover: {
           mode: 'index',
           intersect: true
          },
        }
      
      });
      // draw bar chart
      function refreshTable(){
        barData = {
          labels : [
            {% for item in labels %}
              "{{ item }}",
            {% endfor %}
          ],
  
          datasets : [{
            label: '{{leg}}',
            fill: true,
            lineTension: 0.1,
            fillColor: "rgba(0,0,0,0)",
            strokeColor: getRandomColor(),
            pointColor: getRandomColor(),
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: getRandomColor(),
            bezierCurve : false,
            data : [
        {% for item in values %}
                {{ item }},
              {% endfor %}],
            }
    ]
        };
        LineChartDemo.Chart(mychart
      
        ).Line(barData);
        
      setTimeout("refreshTable();", 2000);
    }
      

    </script>
  </center>
</body>
</html>